<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="mt-4 mb-2">Quản lý Khách sạn</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Quản lý Khách sạn</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>



<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Default box -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Danh sách</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <dx-data-grid
          id="gridContainer"
          [dataSource]="hotels"
          [showBorders]="true"
          [remoteOperations]="false"
          [allowColumnReordering]="true"
          [allowColumnResizing]="true"
          [columnAutoWidth]="true"
          (onRowInserted)="onRowInserted($event)"
          (onRowUpdating)="onRowUpdating($event)"
          (onRowRemoving)="onRowRemoving($event)">

          <dxo-editing
            mode="popup"
            [allowUpdating]="true"
            [allowDeleting]="true"
            [allowAdding]="true">
          </dxo-editing>

          <dxi-column dataField="name" caption="Tên"></dxi-column>
          <dxi-column dataField="address" caption="Địa chỉ"></dxi-column>
          <dxi-column dataField="phone" caption="SĐT"></dxi-column>
          <dxi-column dataField="email" caption="Email"></dxi-column>
          <dxi-column dataField="description" caption="Mô tả"></dxi-column>

        </dx-data-grid>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                Quay lại
              </div>
              <!-- /.card-footer-->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
