<!-- src/app/components/bookings/bookings.component.html -->
 <section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Danh sách Booking</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Danh sách Booking</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Danh sách</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <dx-data-grid
            id="gridContainer"
            [dataSource]="bookings"
            [showBorders]="true"
            [remoteOperations]="false"
            [allowColumnReordering]="true"
            [allowColumnResizing]="true"
            [columnAutoWidth]="true"
            [hoverStateEnabled]="true"
            (onCellPrepared)="onCellPrepared($event)"
            >
            
            <dxi-column dataField="id" caption="ID" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="confirmationNo" caption="Mã đặt phòng" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="customer.fullName" caption="Khách hàng" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="checkIn" caption="Check-in" [dataType]="'date'" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="checkOut" caption="Check-out" [dataType]="'date'" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="totalPrice" caption="Tổng tiền" [allowEditing]="false" format='#,##0'></dxi-column>
            <dxi-column dataField="status.name" caption="Trạng thái" [allowEditing]="false"></dxi-column>
            <dxi-column caption="Hành động" cellTemplate="actionTemplate" [allowEditing]="false"></dxi-column>

            <!-- Template cho nút Chi tiết -->
            <div *dxTemplate="let data of 'actionTemplate'">
              <dx-button text="Chi tiết" (onClick)="openDetail(data.data)"></dx-button>
            </div>
            <dxo-selection mode="single"></dxo-selection>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
            <dxo-paging [pageSize]="10"> </dxo-paging>
            <dxo-pager
              [visible]="true"
              [showPageSizeSelector]="showPageSizeSelector"
              [showInfo]="showInfo"
              [showNavigationButtons]="showNavButtons">
            </dxo-pager>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
</div>

