.row-canceled {
  background-color: #ffcccc !important;  // Màu đỏ nhạt cho cả dòng
  color: #ff0000;  // Chữ đỏ
}

.row-canceled .dx-datagrid-content td {
  background-color: #ffcccc !important;
}
:host ::ng-deep .dx-header-row > td[role="columnheader"] > div.dx-datagrid-text-content {
    font-weight: bold;
}
