#gridContainer {
  width: 100%;  // Responsive full width
}

@media (max-width: 768px) {
  .dx-datagrid {
    font-size: 12px;  // Adjust for mobile
  }
}
:host ::ng-deep .dx-header-row > td[role="columnheader"] > div.dx-datagrid-text-content {
    font-weight: bold;
}