/* src/app/components/create-booking/create-booking.component.scss */
:host {
  display: block;
}

.dx-list {
  max-height: 200px;
  overflow-y: auto;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .spinner-border {
    width: 4rem;
    height: 4rem;
  }
}

/* Đẩy popup của DevExtreme lên trên cùng */
.dx-popup-normal,
.dx-popup-normal .dx-popup-wrapper,
.dx-overlay .dx-overlay-content,
.dx-popup {
  z-index: 20000 !important;
}

.options {
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
  margin-top: 20px;
}

.caption {
  font-size: 18px;
  font-weight: 500;
}

.option {
  width: 24%;
  display: inline-block;
  margin-top: 10px;
}

:host ::ng-deep .dx-header-row > td[role="columnheader"] > div.dx-datagrid-text-content {
    font-weight: bold;
}