<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h2>Quản lý Người dùng</h2>
      <dx-data-grid
        id="gridContainer"
        [dataSource]="users"
        [showBorders]="true"
        [remoteOperations]="false"
        [allowColumnReordering]="true"
        [allowColumnResizing]="true"
        [columnAutoWidth]="true"
        (onRowInserted)="onRowInserted($event)"
        (onRowUpdating)="onRowUpdating($event)"
        (onRowRemoving)="onRowRemoving($event)">

        <dxo-editing
          mode="popup"
          [allowUpdating]="true"
          [allowDeleting]="true"
          [allowAdding]="true">
        </dxo-editing>

        <dxi-column dataField="username" caption="Tên đăng nhập"></dxi-column>
        <dxi-column dataField="fullName" caption="Họ tên"></dxi-column>
        <dxi-column dataField="email" caption="Email"></dxi-column>
        <dxi-column dataField="role.name" caption="Vai trò"></dxi-column>
        <dxi-column dataField="hotel.name" caption="Khách sạn"></dxi-column>
        <dxi-column dataField="lastLogin" caption="Lần đăng nhập cuối" [dataType]="'date'"></dxi-column>

      </dx-data-grid>
    </div>
  </div>
</div>