<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Quản lý Người dùng</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Quản lý Người dùng</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Danh sách</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <dx-data-grid
              id="gridContainer"
              [dataSource]="users"
              [showBorders]="true"
              [remoteOperations]="false"
              [allowColumnReordering]="true"
              [allowColumnResizing]="true"
              [columnAutoWidth]="true"
              (onRowInserting)="onRowInserting($event)"
              (onRowUpdating)="onRowUpdating($event)"
              (onRowRemoving)="onRowRemoving($event)"
              (onInitNewRow)="onInitNewRow($event)">

              <dxo-editing
                mode="popup"
                [allowUpdating]="true"
                [allowDeleting]="true"
                [allowAdding]="true">
              </dxo-editing>

              <dxi-column dataField="username" caption="Tên đăng nhập"></dxi-column>
              <!-- <dxi-column dataField="passwordHash" caption="Mật khẩu"></dxi-column> -->
              <dxi-column dataField="fullName" caption="Họ tên"></dxi-column>
              <dxi-column dataField="email" caption="Email"></dxi-column>
              <dxi-column dataField="hotelId" caption="Khách sạn">
                <dxo-lookup
                    [dataSource]="hotels"
                    valueExpr="id"
                    displayExpr="name">
                </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="lastLogin" caption="Lần đăng nhập cuối" [type]="'datetime'"></dxi-column>

              <dxi-column caption="Hành động" cellTemplate="actionTemplate"></dxi-column>

              <div *dxTemplate="let data of 'actionTemplate'">
                <dx-button 
                  icon="key"
                  type="default"
                  (onClick)="openPasswordPopup(data.data)"
                >
                </dx-button>
              </div>
            </dx-data-grid>
            <dx-popup
              [(visible)]="showPasswordPopup"
              [width]="800"
              [height]="600"
              title="Cập nhật mật khẩu">
              <div class="p-3">
                <div class="form-group mt-2">
                    <label>Mật khẩu mới</label>
                    <input type="password" class="form-control" [(ngModel)]="newPassword">
                </div>

                <div class="form-group mt-2">
                    <label>Nhập lại mật khẩu mới</label>
                    <input type="password" class="form-control" [(ngModel)]="confirmPassword">
                </div>

                <button class="btn btn-primary mt-3" (click)="savePasswordChange()">
                  Lưu thay đổi
                </button>

                <button class="btn btn-secondary mt-3 ms-3" (click)="closePopup()">
                  Hủy
                </button>
              </div>
            </dx-popup>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>