<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Đặt Phòng</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Đặt Phòng</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
              <div class="col-md-3">
                <label for="checkIn">Check-in</label>
                <!-- <input type="date" id="checkIn" [(ngModel)]="checkIn" name="checkIn" class="form-control" format="dd/MM/yyyy"/> -->
                <dx-date-box
                  [(value)]="checkIn"
                  type="date"
                  displayFormat="dd/MM/yyyy">
                </dx-date-box>
              </div>
              <div class="col-md-3">
                <label for="checkOut">Check-out</label>
                <!-- <input type="date" id="checkOut" [(ngModel)]="checkOut" name="checkOut" class="form-control" format="dd/MM/yyyy" /> -->
                 <dx-date-box
                  [(value)]="checkOut"
                  type="date"
                  displayFormat="dd/MM/yyyy">
                </dx-date-box>
              </div>
              <div class="col-md-2 mt-4">
                <button type="button" class="btn btn-primary" (click)="search()">Tìm kiếm</button>
              </div>
            </div>
        </div>
        <div class="card-body">
          <dx-data-grid
            [dataSource]="rooms"
            [showBorders]="true"
            [columnAutoWidth]="true"
            (onSelectionChanged)="onSelectionChanged($event)">
            <dxo-selection mode="multiple" deferred="true" showCheckBoxesMode="always"></dxo-selection> <!-- Chọn nhiều -->
            <dxo-filter-row visible ="true"></dxo-filter-row>
            <dxi-column type="selection"></dxi-column> <!-- Checkbox -->
            <dxi-column dataField="roomNumber" caption="Phòng"></dxi-column>
            <dxi-column dataField="categoryName" caption="Hạng phòng"></dxi-column>
            <dxi-column dataField="pricePerNight" caption="Giá mỗi đêm" format='#,##0'></dxi-column>
            <dxi-column dataField="status" caption="Trạng thái"></dxi-column>
          </dx-data-grid>
          <button class="btn btn-success mt-2" (click)="proceedToBooking()" [disabled]="selectedRooms.length === 0">Đặt phòng đã chọn</button>
          <p><span class="info sm"><i><b>(*)</b> Bấm Tìm kiếm và chọn 1 hoặc nhiều phòng để đặt</i></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>